/* ==========================================================================
   base styles
   ========================================================================== */
body {
	font-family: 'Roboto Condensed', sans-serif;
	background: #2D2E33 url('../images/mochaGrunge.png') 0 0 repeat;
}

a {
	color: #2C7DDC;
/* ========   	less	==============*/
	-webkit-transition: all 1s ease-out;
	-webkit-transition-property: all;
	-webkit-transition-duration: 1s;
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-delay: initial;
	-moz-transition: all 1s ease-out;
	transition: all 1s ease-out;
}
a:hover{
	color: #FFF;
/* ========   	less	==============*/
	-webkit-transition: all 1s ease-out;
	-webkit-transition-property: all;
	-webkit-transition-duration: 1s;
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-delay: initial;
	-moz-transition: all 1s ease-out;
	transition: all 1s ease-out;
}

p, h1 {
	color: #BEC4CC;
}

li{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
ol, ul {
	list-style: none;
}

#header {
	text-align: center;
	font-size: 1.8em;
	margin: 10px;
}
#header h1 {
	margin: 2px;
	padding: 1%;
	color: #ccc;
}

#nav, #main-content{
	margin: 5%;
	clear: both;
}

#hero img{
	width: 100%;
}

#nav{
	padding: 0 0 20px;
}

#nav li{
	width: 20%;
	float: left;
	margin-right: 4.2%;
	background: #2C7DDC url('../images/dark_fish_skin.png') 0 0 repeat;
	text-align: center;
}
#nav li a{
	text-decoration: none;
/* ========   	less	==============*/	
	text-shadow: 2px 2px 2px #2D2E33;
    filter: dropshadow(color=#2D2E33, offx=2, offy=2);
}
/* ==========================================================================
   content
   ========================================================================== */
#main-content p {
	padding-top: 10px;
}
/* ==========================================================================
   footer
   ========================================================================== */
#footer {
	background-image: url('../images/footer_bg.png');
	width: 100%;
	min-height: 150px;
}

#copyright {
	text-align: center;
}

.gradient-a {
	background-image: linear-gradient(left bottom, rgb(161,161,161) 1%, rgb(26,25,26) 52%);
	background-image: -o-linear-gradient(left bottom, rgb(161,161,161) 1%, rgb(26,25,26) 52%);
	background-image: -moz-linear-gradient(left bottom, rgb(161,161,161) 1%, rgb(26,25,26) 52%);
	background-image: -webkit-linear-gradient(left bottom, rgb(161,161,161) 1%, rgb(26,25,26) 52%);
	background-image: -ms-linear-gradient(left bottom, rgb(161,161,161) 1%, rgb(26,25,26) 52%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		right top,
		color-stop(0.01, rgb(161,161,161)),
		color-stop(0.52, rgb(26,25,26))
	);
}

.round-shadow-a {
/* ========   	less	==============*/
	border-radius: 5px;
	-webkit-box-shadow:  0px 2px 3px 2px #4f4d4d;
	box-shadow:  0px 2px 3px 2px #4f4d4d;
}
.round-shadow-b {
/* ========   	less	==============*/
	border-radius: 5px;
	-webkit-box-shadow:  0px 2px 5px 5px #4f4d4d;
	box-shadow:  0px 2px 3px 5px #4f4d4d;
}
/* ==========================================================================
   Media query smaller than 750px and mobile
   ========================================================================== */

@media screen and (max-device-width: 750px), screen and (max-width: 750px){
#header {
	font-size: 1.1em;
}
#nav li{
	width: 44%;
	float: left;
	margin-right: 4.2%;
	margin-bottom: 2%;
	text-align: center;
}

}

/* ==========================================================================
   Media query smaller than 480px and mobile
   ========================================================================== */

@media screen and (max-device-width: 480px), screen and (max-width: 480px){
	#header {
		font-size: 0.9em;
	}
	#nav li{
		width: 90%;
		max-height: 40px;
		float: left;
		margin-right: 4.2%;
		margin-bottom: 3%;
		text-align: center;
	}
	#nav li h2 {
		margin: 0;
	}
}